html {
    scroll-behavior: smooth;
}

.mdui-container-fluid {
    min-height: 60%;
}

@media (min-width: 1024px) {
.mdui-toolbar {
    padding-right: 8.333333%;
}
}

#sidebar a {
    color: rgba(30, 30, 30, 0.7);
    text-decoration: none;
    transition: 0.3s;
}

#sidebar a:hover {
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    transition: 0.3s;
}

#sidebar .sidebar-title {
    margin-bottom: 10px;
    font-weight: bold;
}

#sidebar .sidebar-item {
    margin-bottom: 10px;
    line-height: 15px;
}

#sidebar .sidebar-active a {
    color: #3f51b5;
    text-decoration: none;
    transition: 0.3s;
}

#footbar {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.895);
}

#footbar #left {
    width: 25%;
    text-align: center;
    color: #efefef;
    float: left;
}

#footbar #left #logo {
    position: relative;
    top: 25px;
    height: 100px;
    left: 100px;
}

#footbar #left #intro {
    position: relative;
    top: -35px;
    left: 200px;
    font-size: 25px;
}

#footbar #right {
    width: 50%;
    text-align: right;
    padding-top: 50px;
    padding-right: 20px;
    color: #aaaaaa !important;
    float: right;
    margin-right: 100px;
}

#footbar #right a {
    color: #aaaaaa !important;
    text-decoration: none;
}

.multi-list {
    padding-inline-start: 0 !important;
    list-style: none !important;
}

.multi-list li {
    border-left: #3f51b5 5px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    margin-left: -10px;
}

.multi-list pre {
    border: none;
    overflow: visible;
    padding: 0;
}
