html {
    scroll-behavior: smooth;
}

#sidebar a {
    color: rgba(30, 30, 30, 0.7);
    text-decoration: none;
    transition: 0.3s;
}

#sidebar a:hover {
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    transition: 0.3s;
}

#sidebar .sidebar-title {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 5px;
}

#sidebar .sidebar-item {
    margin-bottom: 2px;
}