html {
    scroll-behavior: smooth;
}

.mdui-container-fluid {
    min-height: 60%;
}

.mdui-tab .mdui-tab-active {
    color: #536dfe !important;
}

.mdui-tab .mdui-tab-indicator {
    background-color: #536dfe !important;
}

.mdui-tab a {
    transition: .3s;
}

.mdui-tab a:hover {
    opacity: 1;
}

@media (min-width: 1024px) {
.mdui-toolbar {
    padding-right: 8.333333%;
}
}

#sidebar a {
    color: rgba(30, 30, 30, 0.7);
    text-decoration: none;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #3f51b5;
    text-decoration: none;
    transition: 0.3s;
}

#sidebar .sidebar-title {
    margin-bottom: 10px;
    font-weight: bold;
}

#sidebar .sidebar-item {
    margin-bottom: 10px;
    line-height: 15px;
}

#sidebar .sidebar-active a {
    color: #536dfe;
    text-decoration: none;
    transition: 0.3s;
}

#footbar {
    width: 100%;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.895);
}

#footbar #left {
    width: 25%;
    text-align: center;
    color: #efefef;
    float: left;
}

#footbar #left #logo {
    position: relative;
    top: 25px;
    height: 100px;
    left: 100px;
}

#footbar #left #intro {
    position: relative;
    top: -35px;
    left: 200px;
    font-size: 25px;
}

#footbar #right {
    width: 50%;
    text-align: right;
    padding-top: 50px;
    padding-right: 20px;
    color: #aaaaaa !important;
    float: right;
    margin-right: 100px;
    line-height: 17.25px;
}

#footbar #right a {
    color: #aaaaaa !important;
    text-decoration: none;
    transition: .3s;
}

#footbar #right a:hover {
    color: #eeeeee !important;
    text-decoration: none;
}

#footbar #right a::before {
    background-color: #eeeeee;
}

@media (max-width: 1024px) {
#footbar #right a:hover {
    color: rgba(30, 30, 30, 0.7) !important;
}

#footbar #right a::before {
    background-color: rgba(30, 30, 30, 0.7);
}
}

.multi-list {
    padding-inline-start: 0 !important;
    list-style: none !important;
}

.multi-list li {
    border-left: #536dfe 5px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    margin-left: -10px;
}

pre {
    border: none !important;
    overflow: visible !important;
    padding: 0 !important;
}

.tree {
    margin-left: -15px;
}

.tree .tree-title {
    font-size: 110%;
    line-height: 2;
    margin-left: 20px;
    font-weight: bold;
}

.tree .tree-item {
    max-height: 20px;
    overflow: hidden;
    display: block;
    padding-left: 15px;
    transition: .3s;
}

.tree .tree-item.tree-active {
    color: #536dfe;
}

.tree .check {
    position: absolute;
    clip: rect(0 0 0 0);
}

.tree .check:checked + .tree-item {
    max-height: 30%;
}

.tree .tree-item .mdui-icon {
    font-size: 24px !important;
    cursor: pointer;
    text-indent: 0 !important;
    transition: .3s;
}

.tree .tree-item.tree-leaf .mdui-icon {
    opacity: 0;
    margin-right: 4px !important;
    cursor: default;
}

.tree .check:checked + .tree-item > .mdui-icon {
    transform: rotate(180deg);
}
